/* MINI SKEL3TON adapted by gjh sfrom www.getskeleton.com
================================================== */

    .container                                  { position: relative; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns                         { float: left; display: inline; }
    .row                                        { margin-bottom: 20px; }

/* #Large screen: Design for a width of 1280
================================================== */

@media only screen and (min-width: 1300px) {
	.container                                  { width: 1280px; }
	.container .column                          { margin-left: 40px; margin-right: 40px; }

	.container .single.column:first-child,
	.container .single.column:last-child        { margin-left:0; margin-right:0; }
	.container .single.column:first-child       { margin-left:0; }
	.container .double.column:last-child        { margin-right:0; }
    .container .single.column                   { width: 400px; }
    .container .double.column                   { width: 840px; }
	.container .triple.column                   { width: 1280px; margin-left:0; margin-right:0; }
}

/* #Standard 960 grid: Design for a width of 1024
================================================== */

@media only screen and (min-width: 960px) and (max-width: 1299px) {
	.container                                  { width: 960px; }
	.container .column                          { margin-left: 10px; margin-right: 10px; }

    .container .single.column                   { width: 300px; }
    .container .double.column                   { width: 620px; }
	.container .triple.column                   { width: 940px; }
} 


/* #Tablet (Portrait): Design for a width of 768px
================================================== */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }
        .container .column                          { margin-left: 10px; margin-right: 10px;  }

        .container .single.column                   { width: 236px; }
        .container .double.column                   { width: 492px; }
        .container .triple.column                   { width: 748px; }
    }


/*  #Mobile (Portrait): Design for a width of 320px
================================================== */

    @media only screen and (max-width: 767px) {
        .container                                  { width: 300px; }
        .container .column                         { margin: 0; }

        .container .single.column,
        .container .double.column,
        .container .single.column                   { width: 300px; }
    }


/* #Mobile (Landscape): Design for a width of 480px
================================================== */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container                                  { width: 420px; }
        .container .column                          { margin: 0; }

        .container .single.column,
        .container .double.column,
        .container .triple.column                   { width: 420px; }
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
